# Prerequisites
*.d
*.suo
*.wsuo

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.opendb
*.db-wal
*.db-shm
*.ipch
*.tlog
*.log
*.pdb
*.idb
*.recipe
*.ilk
*.txt
Server/.vs/ProjectSettings.json
Server/.vs/Server/v17/Browse.VC.db
Server/.vs/slnx.sqlite
Server/.vs/SocketLecture/v16/Browse.VC.db
Server/.vs/SocketLecture/v17/Browse.VC.db
*.ipdb
*.iobj
.vs/SocketLecture/v17/Browse.VC.db
*.db
